.smartbanner {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.smartbanner .slide {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
}

.smartbanner .slide video {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.smartbanner .slide.active {
    z-index: 3;
}